.services__content{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    width: 100%;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 320px;

}
.card__promo {
    /*display: flex;*/
    text-align: justify;
    line-height: 1.2;
}

.card__content__margin{
    padding: 0;
}
