.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:50px;
    left:0;
    transform: translateX(-130%);
    transition:  all 0.2s;
}
.menu.active {
    transform: translateX(0);
}
.blur {
    position:absolute;
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
}
.menu__content {
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition:  all 0.4s;
}
.menu__header {
    padding: 10px;
    font-size: 2rem;
    color:tomato;
    border-bottom: 1px solid tomato;
    text-align: center;
}

.ul_list a{
    color: purple;
}

.li_list {
    color: coral;
}

.main-item {
    display: inline-block;
    border: 1px solid #333
}

.list-item {
    display: flex;
    position: relative;
    align-items: center;
}
.collection-item {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 25%;
}

.list-item > li.sub-menu:hover { display: block;}

.sub-menu
{
    display: none;
}

.sub-menu__visible
{
    display: block;
}

ul li {
    color:#4CAF50;
    display: flex;
    align-items: center;
    margin: 10px;
}
ul {
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-icons {
    color:lightskyblue;
    margin-left: 10px;
    size: 1rem;
}
@media screen and (max-width: 760px){
    .menu__content{
        width: 100%;
    }
    .blur{
        backdrop-filter: none;
    }
}


