.body__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  justify-content: center;
  width: 100vw;
}

@media (min-width: 320px) and (max-width: 1024px) {
  h2{
    font-size: calc(20px + (18 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));
  }
  h3{
    font-size: calc(18px + (18 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));

  }
}

.backgroundImg {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5% 0 5% 0;

}

.backgroundImg::before {
  content: "";
  background-image: url('./background2.jpg');
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

