.form__callback {
    background-color: white;
    padding: 5px;
    border-left: 2px black;
    border-radius: 5px;


}

.button__modal{
    margin-left: 2px;
    border-radius: 5px;
}

.callback__button {
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    /*margin-top: 20px;*/
}

.callback__button:hover {
    background-color: #3e8e41;
}
