.card__wrapper{
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
}

@media (max-width: 600px) {
    .card__item {
        align-self: center;
        min-height: 420px;

    }
    .card-content {
       padding:10px !important;
    }
}
