.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 1px 1px rgba(96, 103, 108, 0.59);
    z-index: 15;
}

.header>menu{
    background-color: transparent;
}


.header-text__logo {
    color:black;
    font-family:Georgia,serif;
    font-style:italic;
    padding: 10px;
}

.header__wrapper {
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    padding:0 5% 0 5%;
}

.header__wrapper address {
    margin: 0;
}

.contact__wrapper {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 0;
    align-self: center;

}

.header__logo {
    height: 4.5rem;
}
.nav__wrapper{
    padding: 0;
    margin: 0;

}
.header__nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #090000;
    margin: 0;
    height: 50px;
}
@media screen and (orientation:landscape) {
    .header__nav{
        height:25px;
    }}
@media screen and (max-width: 950px){
    .text__phone{
        display: none;
    }
}

.header__nav a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    box-shadow: none;
    height: 50px;
}

.header__nav a:hover {
    color: rgb(0, 255, 208);
}

.contact{
    list-style-type: none;
}

.contact .phone i{
    margin-right: 0.5rem;
}

.contact .phone{
    color: #ffffff;
    text-decoration: none;
}

.contact .phone:hover {
    color: #000;
}

.location-icon-image, .phone-icon-image {
    border-radius: 0.8rem;
    width: 2.8rem;
    height: 2.8rem;
    margin: 5px;
    -webkit-filter: grayscale(100%);
}

.location-icon-image:hover, .phone-icon-image:hover{
    align-content: center;
    height: 2.8rem;
    filter: none;
    box-shadow: 4px 6px 6px rgba(62, 62, 65, 0.59);
}

.wrapper {
    display: flex;
}

.text__phone {
    font-size: 1.2rem;
    white-space:nowrap;
    margin-right: 15px;
}


.text__phone:hover{
    color: blue;
}

.material-icons {
    font-size: 1.2rem;
}

.social__content {
    display: flex;
    flex-direction: column;
}

/*visible*/

.location__btn a, .phone__btn a{
    display: flex;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width: 600px){
    .header{
        position: fixed;
        background-color: #090000 !important;
    }
    .header>menu{
       display: none;
   }
    .header__nav{
        display:none;
    }
    .header-text__logo {
        color: white;
    }
    .header__wrapper{
        padding: 0 5px 0 30%;
    }
    .phone__btn,.location__btn {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 10px;
        align-items: center;
        border: none;
        width: 2rem;
        height: 2.6rem;
        color: white;
        cursor: pointer;
        border-radius: 0.8rem;
        -webkit-filter: grayscale(100%);
        z-index: 15;
    }
    .phone__btn:active,.location__btn:active {
        background-color: #47a84b;
        -webkit-filter: none;
    }
    .social__content {
        display: none;
    }
}

