.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  min-width: 350px;
  max-width: 1024px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


